.container {
    height: 400px;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 20px;
    position: relative;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    box-shadow: 2px 2px 2px rgb(245, 135, 135) ;
}


.score, 
.lives {
    font-size: 2em;
}

.brick {
    position: absolute;
    top: 0;
    left: 0;
    width: 91px;
    height: 40px;
    padding: 1px;
    color:rgb(168, 227, 72);
    border: 1px solid rgb(241, 238, 238);
    font-size: 1.8em;
    text-align: center;
    line-height: 40px;
    box-shadow: 1px 2px 1px rgb(88, 87, 87);
}
.brick:hover{
    opacity: 0.3;
}